In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
URoad_DF = pd.read_excel('Reflux_data/지하차도 데이터/부산_지하차도위치.xlsx',index_col=False)
URoad_DF.head()

,구군,주소,지하차도명,위도,경도,규모(길이 m),규모(폭 m),해발고도(m)
0,동구,부산 동구 초량동,초량제1지하차도,35.119329,129.044676,165.0,15.0,5.0
1,동구,부산 동구 초량동,초량제2지하차도,35.123381,129.046930,175.0,15.0,4.0
2,부산진구,부산 부산진구 당감2동,당감지하차도,35.157511,129.041103,172.0,15.3,27.0
3,동구,부산 동구 초량동,명지 지하차도,35.089599,128.903712,380.0,15.0,2.0
4,동구,부산 동구 범일 1동,진시장지하차도,35.137813,129.056543,178.0,12.0,10.0

In [10]:
Code_DF = pd.read_excel('Reflux_data/구군 행정코드/구군 행정코드.xlsx',index_col=False)
Code_DF.head()

       ADM_CD ZONE
0  2626000000  강서구
1  2626000000  금정구
2  2626000000  기장군
3  2617000000   남구
4  2617000000   동구

In [7]:
#URoad_DF.drop(['주소'],axis=1,inplace=True)
URoad_DF.head()

     구군     지하차도명         위도          경도  규모(길이 m)  규모(폭 m)  해발고도(m)
0    동구  초량제1지하차도  35.119329  129.044676     165.0     15.0      5.0
1    동구  초량제2지하차도  35.123381  129.046930     175.0     15.0      4.0
2  부산진구    당감지하차도  35.157511  129.041103     172.0     15.3     27.0
3    동구   명지 지하차도  35.089599  128.903712     380.0     15.0      2.0
4    동구   진시장지하차도  35.137813  129.056543     178.0     12.0     10.0