# (고도,경사도)과 (불투수면, 맨홀, 배수펌프장) Merge

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
Main_DF = pd.read_excel('Reflux_data/병합/SH_merge/BMR.xlsx',index_col=False)
Main_DF.head()

,Unnamed: 0,ADM_CD,ZONE,DONG,DISTRICT,F_BEGIN_DE,F_END_DE,F_BEGIN_TM,F_END_TM,FLUD_TIME,MAX_HOUR_RAINFALL,PRECI_YYMMDD,FLUD_DPWT,SLOPE_AVG,HIGH,HOUR_RAINFALL,PRECI_HH,DIST
0,0,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,18.7,20190720,0.0,1.0,3.66,2.1,1,0
1,1,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,18.7,20190720,0.0,1.0,3.66,5.1,2,0
2,2,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,18.7,20190720,0.0,1.0,3.66,10.6,3,0
3,3,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,18.7,20190720,0.0,1.0,3.66,8.0,4,0
4,4,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,18.7,20190720,0.0,1.0,3.66,9.1,5,0

In [27]:
PIH_DF = pd.read_excel('Reflux_data/병합/SH_merge/PIH_merge.xlsx',index_col=False)
PIH_DF.head()

       ADM_CD ZONE    PUMP_RATIO  IMP_SUR_RATIO  MANHOLES_RATIO
0  2644000000  강서구  1.189961e-07          24.36        0.006944
1  2641000000  금정구  3.042751e-08          18.94        0.004689
2  2671000000  기장군  1.364381e-08           7.70        0.001618
3  2629000000   남구  2.565982e-07          51.82        0.011569
4  2617000000   동구  1.982161e-07          57.92        0.023885

In [28]:
PIH_DF.drop(['ADM_CD'],axis=1,inplace=True)
PIH_DF.head()

  ZONE    PUMP_RATIO  IMP_SUR_RATIO  MANHOLES_RATIO
0  강서구  1.189961e-07          24.36        0.006944
1  금정구  3.042751e-08          18.94        0.004689
2  기장군  1.364381e-08           7.70        0.001618
3   남구  2.565982e-07          51.82        0.011569
4   동구  1.982161e-07          57.92        0.023885

## 병합하기

In [29]:
SH_merge=pd.merge(Main_DF, PIH_DF, on='ZONE')
SH_merge.head()

,Unnamed: 0,ADM_CD,ZONE,DONG,DISTRICT,F_BEGIN_DE,F_END_DE,F_BEGIN_TM,F_END_TM,FLUD_TIME,...,PRECI_YYMMDD,FLUD_DPWT,SLOPE_AVG,HIGH,HOUR_RAINFALL,PRECI_HH,DIST,PUMP_RATIO,IMP_SUR_RATIO,MANHOLES_RATIO
0,0,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,...,20190720,0.0,1.0,3.66,2.1,1,0,4.115226e-07,62.32,0.016387
1,1,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,...,20190720,0.0,1.0,3.66,5.1,2,0,4.115226e-07,62.32,0.016387
2,2,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,...,20190720,0.0,1.0,3.66,10.6,3,0,4.115226e-07,62.32,0.016387
3,3,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,...,20190720,0.0,1.0,3.66,8.0,4,0,4.115226e-07,62.32,0.016387
4,4,2647000000,연제구,NaN,신금로 지구,20190720,20190720,1000,1500,5,...,20190720,0.0,1.0,3.66,9.1,5,0,4.115226e-07,62.32,0.016387

In [30]:
SH_merge.to_excel('Reflux_data/병합/SH_merge/Final_merge.xlsx')